.sixthPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9F9F9;
}

@media(min-width: 575px){
    .sixthPageTitle{
        white-space: nowrap;
    }
}

@media(min-width: 767px){
    .sixthPageTitle{
        margin: 0px 10px -30px 180px;
    }
}