.oneRoom{
    width: 300px;
    height: 300px;
    background: #C4C4C4;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oneRoom span{
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}

.rePositionInfo{
    position: absolute;
    top:-325px;
    left:-10px;
}

.roomNames{
    white-space: nowrap;
    height: 31px;
    font-family: "Barlow Condensed",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    position: absolute;
    top:215px;
    left:10px;
}

