.oneRoom {
    width: 300px;
    height: 300px;
    background: #C4C4C4;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}


.rePositionInfo {
    position: absolute;
    top: 0;
    left: 0;
}

.roomNames {
    white-space: nowrap;
    height: 31px;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    position: absolute;
    top: 215px;
    left: 10px;
}


@media(min-width: 575px){
    .oneRoom{
        width: 400px;
        height: 400px;
    }
    .roomNames{
        top:315px;
    }
}
@media(min-width: 767px){
    .oneRoom{
        width: 550px;
        height: 550px;
    }
    .roomNames{
        top:460px;
        left:20px;
    }
}
@media(min-width: 1144px){
    .oneRoom{
        width: 450px;
        height: 300px;
    }
    .rePositionInfo{
        top: -250px;
        left: 0;
        z-index: 10;
    }
    .roomNames{
        top:210px;
    }
}