@use './src/main/ui/styles/breakpoints' as bp;

.carousel {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  @media (min-width: bp.$xl) {
    width: 500px;
    margin: 0;
    position: relative;
    left: 130px;
    top: -30px;
  }
}

.carouselBig {
  width: 90%;
  height: 300px;
  margin: 0 auto;
}
