.priceWindow {
    position: absolute;
    width: 92px;
    height: 33px;
    background: #F9F9F9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    left: 12px;
}

.priceWindow p {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #063C43;
    white-space: nowrap;
}