.contactInfoElement{
display: flex;
    align-items: center;
}

.contactInfoElementLinks{
    font-family: "Barlow Condensed",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}

.contactInfoElementImg{
margin: 20px 20px 10px 20px;
}