version: '3.9'

services:
    redis:
        image: redis:alpine
        container_name: "redis"
        restart: unless-stopped
        ports:
            - ${REDIS_EXPOSE_PORT}:${REDIS_PORT}
    postgresql_database:
        image: postgres:latest
        env_file:
            - .env
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_HOST=${POSTGRES_HOST}
            - POSTGRES_SSLMODE=${POSTGRES_SSLMODE}
        ports:
            - "8081:5432"
        restart: always
        volumes:
            - ./init.sql:/docker-entrypoint-initdb.d/init.sql
            - database-data:/var/lib/postgresql/data/
        networks:
            - app_net

    pgadmin:
        image: dpage/pgadmin4
        env_file:
            - .env
        environment:
            - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
            - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
        ports:
            - "5050:80"
        restart: always
        volumes:
            - pgadmin:/root/.pgadmin
        networks:
            - app_net

    rabbitmq:
        image: rabbitmq:3-management
        ports:
            - '4369:4369'
            - '5551:5551'
            - '5552:5552'
            - '5675:5672'
            - '25672:25672'
            - '15672:15672'
        environment:
            - RABBITMQ_SECURE_PASSWORD=yes
            - RABBITMQ_PASSWORD=my_password
        volumes:
            - rabbitmq_data:/bitnami/rabbitmq/mnesia
        networks:
            - app_net

    goreact:
        build:
            context: ./api
        ports:
            - ${SERVER_PORT}
        depends_on:
            - postgresql_database
        env_file:
            - .env
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
            - SERVER_HOST=0.0.0.0
            - ENV=prod
        tty: true
        networks:
            - app_net

networks:
    app_net:
        driver: bridge
volumes:
    database-data: null
    pgadmin: null
    rabbitmq_data:
        driver: local
