version: '3.9'

# docker-compose -f docker-compose-socket.yml up --build

# docker-compose -f docker-compose-socket.yml up -d rabbitmq
# docker-compose -f docker-compose-socket.yml up -d chat_db
# docker-compose -f docker-compose-socket.yml up -d chat_pgadmin
# docker-compose -f docker-compose-socket.yml up -d chat_server
# docker-compose -f docker-compose-socket.yml logs chat_server

services:

    rabbitmq:
        build:
            context: ./rabbit
        container_name: rabbitmq
        ports:
            - ${RABBIT_HTTP_EXTERNAL_PORT_V3}:15672
        environment:
            - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
            - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
            - RABBITMQ_CONFIG_FILE=/etc/rabbitmq.conf
        volumes:
            - ./rabbit/rabbitmq.conf:/etc/rabbitmq.conf
            - ./rabbit/definitions.json:/etc/rabbitmq/definitions.json
        networks:
            - new

    chat_db:
        image: postgres
        container_name: socket-chat-postrgres
        ports:
            - "5444:5432"
        environment:
            POSTGRES_PASSWORD: 123
            POSTGRES_DB: socket_chat
            PGDATA: /var/lib/postgresql/data/pgdata
        restart: on-failure

    chat_server:
        build:
            context: ./socket-chat-server
        image: socket-chat-express
        container_name: socket-chat-express
        ports:
            - "5001:5000"
        environment:
            - DB_HOST=chat_db
            - DB_PASSWORD=123
            - PORT=5000
            - RABBIT_HOST=rabbitmq
            - RABBIT_PORT=${RABBIT_TCP_PORT}
            - RABBIT_USER=${RABBITMQ_DEFAULT_USER}
            - RABBIT_PASSWORD=${RABBITMQ_DEFAULT_PASS}
            - NODE_ENV=development
        restart: on-failure
        links:
            - chat_db
            - rabbitmq
        depends_on:
            - chat_db
            - rabbitmq
        networks:
            - new

    chat_pgadmin:
        image: dpage/pgadmin4
        container_name: socket-chat-pgadmin
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@admin.com
            PGADMIN_DEFAULT_PASSWORD: root
        ports:
            - "5051:80"
        networks:
            - new

networks:
    new:
        driver: bridge
volumes:
    test-database: null
    api: null
    database-data: null
    pgadmin: null
