@use '../../../styles/breakpoints' as bp;
@import '../../../styles/variables';

.sixthPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $main-background-color;
  @media (min-width: bp.$sm) {
    white-space: nowrap;
  }
  @media (min-width: bp.$lg) {
    margin: 0 165px -30px 180px;
    padding: 10px 0;
    background: white;
  }
  @media (min-width: bp.$xl) {
    margin: 0;
  }
}
