.burgerMenu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    left: 110px;
    z-index: 999;
}

.burgerMenu:before,
.burgerMenu:after {
    content: '';
    background-color: #0F97AA;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
}

.burgerMenu:before {
    top: 0
}

.burgerMenu:after {
    bottom: 0;
}

.burgerMenu span {
    content: '';
    background-color: #0F97AA;
    position: absolute;
    width: 100%;
    height: 3.5px;
    left: 0;
    top: 8px;
}

.navLinksBurgerMenu div {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    left: 0;
    top: 0;
}