@import '../../../styles/variables';

.burgerMenu {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: $height-z-index-priority;
  @media (min-width: 1144px) {
    display: none;
  }

  &:before {
    content: '';
    background-color: $main-contrast-color;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
  }

  &:after {
    content: '';
    background-color: $main-contrast-color;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
  }

  span {
    content: '';
    background-color: $main-contrast-color;
    position: absolute;
    width: 100%;
    height: 3.5px;
    left: 0;
    top: 8px;
  }
}

.navLinksBurgerMenu div {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 800px;
  width: 100%;
  background-color: $main-background-color;
  left: 0;
  top: 0;
}

.burgerClose {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: $height-z-index-priority;
  @media (min-width: 1144px) {
    display: none;
  }

  span {
    display: none;
  }

  &:before {
    content: '';
    background-color: indianred;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    transform: rotate(45deg);
  }

  &:after {
    content: '';
    background-color: indianred;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    transform: rotate(-45deg);
  }
}

@media (min-width: 1144px) {
  .burgerClose,
  .burgerMenu {
    display: none;
  }
}
