.burgerMenu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    left: 110px;
    z-index: 999;
}

.burgerMenu:before,
.burgerMenu:after {
    content: '';
    background-color: #0F97AA;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
}

.burgerMenu:before {
    top: 0
}

.burgerMenu:after {
    bottom: 0;
}

.burgerMenu span {
    content: '';
    background-color: #0F97AA;
    position: absolute;
    width: 100%;
    height: 3.5px;
    left: 0;
    top: 8px;
}


.navLinksBurgerMenu div {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 800px;
    width: 100%;
    background-color: white;
    left: 0;
    top: 0;
}

.burgerClose {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    left: 110px;
    z-index: 999;
}

.burgerClose:before,
.burgerClose:after {
    content: '';
    background-color: indianred;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
}

.burgerClose:before {
    top: 0;
    transform: rotate(45deg);
}

.burgerClose:after {
    top: 0px;
    transform: rotate(-45deg);
}

.burgerClose span {
    display: none;
}


@media (min-width: 400px) {
    .burgerClose,
    .burgerMenu {
        left: 220px;
    }
}

@media (min-width: 485px) {
    .burgerClose,
    .burgerMenu {
        left: 320px;
    }
}


@media (min-width: 575px) {
    .burgerClose,
    .burgerMenu {
        left: 390px;
    }
}
@media (min-width: 650px) {
    .burgerClose,
    .burgerMenu {
        left: 470px;
    }
}
@media (min-width: 720px) {
    .burgerClose,
    .burgerMenu {
        left: 550px;
    }
}
