@use '../../styles/breakpoints' as bp;
@import '../../styles/variables';

.TextBlockTitle {
  display: flex;
  justify-content: center;
  margin: 35px 0 10px 15px;

  @media (min-width: bp.$lg) {
    white-space: nowrap;
  }

  .mainText {
    height: 90px;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 33px;
    text-transform: uppercase;
    color: $main-text-color;
    @media (min-width: bp.$sm) {
      font-size: 34px;
    }
  }

  .linkText {
    white-space: nowrap;
    display: none;
    align-items: center;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $main-contrast-color;
    margin-right: 10px;
    @media (min-width: bp.$xl) {
      display: block;
      top: -30px;
      left: -113px;
      position: relative;
      .linkText img {
        margin-left: 10px;
      }
    }
  }
}
