@import '../../styles/variables';
.inputTitle {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin: 30px auto;

  .inputLabel {
    margin: 0 0 15px 0;
    font-weight: 500;
    font-size: 20px;
    color:$secondary-text-color;
  }

  .inputField {
    width: 250px;
    height: 30px;
    font-size: 20px;
    margin:5px;
    border-radius: 12px;
  }
  .inputFieldError {
    width: 250px;
    height: 30px;
    margin:5px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    outline: 3px solid red;
  }

  .errorMsg{
    color:red;
    font-weight: 600;
  }
}
