.secondPage {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statisticBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*margin: 0 90px 120px 0;*/
}

.ceoMessTitle {
    width: 90%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.ceoMessTextBlock {
    display: flex;
    flex-direction: column;
}


@media (min-width: 1024px) {
    .statisticBlock{
        flex-direction: row ;
    }

}





