
.statisticElem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 110px;
}

.statisticBlockNum {
    width: 87px;
    height: 45px;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 45px;
    color: #063C43;
    margin: 150px auto 12px auto;
}

.statisticBlockText {
    width: 300px;
    height: 24px;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #808080;
}