@import '../../../../styles/variables';

.scrollBlock {
  align-items: center;
  position: relative;
  left: -660px;
  top: 60px;
  display: none;

  @media (min-width: 700px) {
    display: flex;
  }
  @media (min-width: 1250px) {
    left: -550px;
  }

  @media (min-width: 1350px) {
    left: -650px;
  }

  p {
    transform: rotate(-90deg);
    width: 41px;
    height: 19px;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #808080;
  }
}
