.uploadTablet {
  margin: 30px 0;

  .customTablet {
    border: dashed 2px #0f97aa;
    min-width: 240px;

    div {
      flex-direction: column;
      @media (min-width: 1144px) {
        flex-direction: row;
      }

      span:nth-child(2) {
        text-overflow: initial;
        overflow: initial;
        white-space: initial;
        max-width: initial;
      }
    }

    span {
      @media (min-width: 1144px) {
        margin: 0 3px;
      }
    }
  }
}
