@import '../../styles/variables';

.authenticationForm {
  height: 450px;
  width: 400px;
  background: $main-background-color;
  border: 4px groove $main-contrast-color;
  margin: 50px auto;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .authenticationTitle {
    text-align: center;
    margin: 0 auto;
    font-family: $main-fonts;
    color: $main-text-color;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }

  .passwordField {
    position: relative;

    .passwordRenderEye {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 20px;
      left: 230px;
      cursor: pointer;
    }
  }

  .loginBtnLinkBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    :nth-child(1) {
      margin: 0 60%;
    }

    .sendReqBtn {
      flex: 0 1 auto;
      position: relative;
      left: -30%;
      white-space: nowrap;
      width: 60px;
      height: 30px;
      border-radius: 5px;
      background-color: $main-contrast-color;
      color: $main-background-color;
    }

    .sendReqErrorBtn {
      flex: 0 1 auto;
      position: relative;
      left: -30%;
      white-space: nowrap;
      width: 60px;
      height: 30px;
      border-radius: 5px;
      background-color: $secondary-text-color;
      color: $main-background-color;
    }

    .signUpLink {
      flex: 0 1 auto;
      white-space: nowrap;
      margin-left: -20%;
      color: $main-contrast-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .socialBtnWrapper {
    margin-top: 15px;

    .loginBtn {
      width: 150px;
      padding: 15px 25px;
      border-radius: 5px;
      color: white;
      display: flex;
      align-items: center;
      font-weight: bold;
      margin-bottom: 12px;
      cursor: pointer;
    }

    .loginBtnGithub {
      background-color: $github-color;
    }

    .loginBtnLinkedin {
      background-color: $linkedin-color;
    }

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

}
