@import '../../styles/variables';

.authenticationForm {
  height: 400px;
  width: 400px;
  background: $main-background-color;
  border: 4px groove $main-contrast-color;
  margin: 50px auto;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .authenticationTitle {
    text-align: center;
    margin: 0 auto;
    font-family: $main-fonts;
    color: $main-text-color;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
  .sendReqBtn{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color:$main-contrast-color ;
    color:$main-background-color
  }
  .sendReqErrorBtn{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color:$secondary-text-color ;
    color:$main-background-color
  }
}
