.fourthPage {
    background: white;
    padding-top: 10px;
}

.titleText {
    height: 60px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.oneSlide {
    width: 300px;
    height: 300px;
    background-color: #C4C4C4;
    border-radius: 10px;
    text-align: center;
    margin: auto auto;
}

.oneSlide p {
    margin-top: 135px;
}


@media (min-width: 575px) {
    .titleText {
        margin-left: 120px
    }
}

@media (min-width: 767px) {
    .oneSlide {
        width: 95% !important;
    }
}


@media (min-width: 1144px) {
    .oneSlide {
        height: 330px;
    }
    .titleText{
        padding: 10px 0 50px 0;
    }

}

