@use '../../../styles/breakpoints' as bp;
@import '../../../styles/variables';

.fifthPage {
  background: $secondary-background-color;
  @media (min-width: bp.$lg) {
    background: $secondary-background-color;
  }

  .titleText {
    margin: 60px 0 -30px 0;
    white-space: nowrap;
    @media (min-width: bp.$sm) {
      margin: 60px 0 -30px 125px;
    }
    @media (min-width: bp.$lg) {
      margin: 100px 0 -30px 125px;
      padding-top: 10px;
    }
  }
}
