{{template "base" .}}

{{define "title"}}All hotels{{end}}

{{define "main"}}

<head>
    <title>All pets</title>
</head>

<body class="d-flex flex-column h-100">
    <table class="table">
        <th>id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Weight</th>
        <th>Diesieses</th>
        <th>ClientID</th>

        {{range . }}
        <tr>
            <td>{{.PetID}}</td>
            <td>{{.Name}}</td>
            <td>{{.Type}}</td>
            <td>{{.Weight}}</td>
            <td>{{.Diseases}}</td>
            <td>{{.Owner.UserID}}</td>
        </tr>
        {{end}}

    </table>

</body>
{{end}}