{{template "base" .}}

{{define "title"}}All seats{{end}}

{{define "main"}}
<header>
    <h1><a>All seats </a></h1>
</header>

<body class="d-flex flex-column h-100">
    <table class="table">
        <th>SeatID</th>
        <th>RoomID</th>
        <th>RentFrom</th>
        <th>RentTo</th>
        <th>Description</th>

        {{range . }}
        <tr>
            <td>{{.SeatID}}</td>
            <td>{{.Room.RoomID}}</td>
            <td>{{.RentFrom}}</td>
            <td>{{.RentTo}}</td>
            <td>{{.Description}}</td>

        </tr>
        {{end}}

    </table>

</body>
{{end}}