{{template "base" .}}

{{define "title"}}employees{{end}}

{{define "main"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

    {{if .HasPermission "read_employee"}}
    <div>
        <h2>Employees</h2>
        <form action="/admin/employees">
            <button>all employees</button>
        </form>
    </div>
    {{end}}

    <br><br>

    {{if .HasPermission "read_employee"}}
    <form action="/admin/employees/id" method="GET">
        <th>Get employee by id</th>
        <input type="number" name="id" min="1" required><br><br>
        <button>Get</button>
    </form>
    {{end}}

    <br><br>

    {{if .HasPermission "delete_employee"}}
    <div>
        <form action="/admin/employees/delete/" method="POST">
            <th>Delete employee by id</th>
            <input type="number" name="id" min="1" required><br><br>
            <button>Delete</button>
        </form>
    </div>
    {{end}}

    <br><br>

    {{if .HasPermission "create_employee"}}
    <div>
        <h2>Create employee </h2>
        <form action="/admin/employees/new" method="POST">
            <th>User id</th>
            <input type="number" name="UserID" min=1 required>
            <th>Hotel id</th>
            <input type="number" name="HotelID" min=1 required>
            <br><br>
            <th>Position</th>
            <input type="radio" name="Position" value="manager" id="Position1" required>
            <label for="Position1">ManagerPosition</label>
            <input type="radio" name="Position" value="employee" id="Position2" required>
            <label for="Position2" required>EmployeePosition</label>
            <input type="radio" name="Position" value="owner" id="Position3" required>
            <label for="Position3" required>OwnerPosition</label>
            <input type="radio" name="Position" value="admin" id="Position4" required>
            <label for="Position4" required>AdminPosition</label><br><br>

            <button>New</button>
        </form>
    </div>
    {{end}}
    <br><br>
    {{if .HasPermission "update_employee"}}
    <div>
        <h2>Update employee </h2>
        <form action="/admin/employees/new" method="POST">
            <th>Employee id</th>
            <input type="number" name="EmployeeID" min=1 required>
            <th>User id</th>
            <input type="number" name="UserID" min=1>
            <th>Hotel id</th>
            <input type="number" name="HotelID" min=1>
            <br><br>
            <th>Position</th>
            <input type="radio" name="Position" value="manager" id="Position1">
            <label for="Position1">ManagerPosition</label>
            <input type="radio" name="Position" value="employee" id="Position2">
            <label for="Position2" required>EmployeePosition</label>
            <input type="radio" name="Position" value="owner" id="Position3">
            <label for="Position3" required>OwnerPosition</label>
            <input type="radio" name="Position" value="admin" id="Position4">
            <label for="Position4" required>AdminPosition</label><br><br>

            <button>Update</button>
        </form>
    </div>
    {{end}}

</body>
{{end}}