@use '../../../../styles/breakpoints' as bp;
@import '../../../../styles/variables';

.statisticElem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  white-space: nowrap;
  justify-content: center;
  @media (min-width: bp.$xl) {
    margin: 70px 100px 60px 120px;
  }

  .statisticBlockNum {
    width: 100%;
    height: 45px;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 45px;
    color: $secondary-contrast-color;
    margin: 0 0 12px 0;
  }

  .statisticBlockText {
    width: 100%;
    height: 24px;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: $secondary-text-color;
  }
}
