.serviceBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media (min-width: 1144px) {
    flex-direction: row;
    justify-content: center;
  }
  @media (min-width: 1250px) {
    flex-direction: column;
  }

  .toRows {
    @media (min-width: 767px) {
      display: flex;
    }
    @media (min-width: 1250px) {
      flex-direction: column;
    }
  }
}
