.serviceBlock{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


@media(min-width: 767px){
  .toRows{
    display: flex;
  }
}


@media(min-width: 1144px){
  .serviceBlock{
    flex-direction: row;
    justify-content: center;
  }
}


