.usefulLinksBlock {
  flex-direction: column;
  position: relative;
  display: none;
}

.linksList {
  display: flex;
}

.groupOfLinks {
  margin-right: 120px;
}

.linksTitle {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin: 35px 0 58px 0;
}

.usefulLinksBlock :after {
  content: '';
  width: 60px;
  height: 4px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 2px;
  position: absolute;
  left: 0px;
  top: 76px;
}

@media (min-width: 767px) {
  .usefulLinksBlock {
    display: flex;
    margin-left: 50px;
  }
}

@media (min-width: 900px) {
  .usefulLinksBlock {
    margin-left: 120px;
  }
}

@media (min-width: 1024px) {
  .usefulLinksBlock {
    margin-left: 185px;
  }
}

@media (min-width: 1250px) {
  .usefulLinksBlock {
    margin-left: 85px;
  }
}
