.thirdPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .photoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 1250px) {
      flex-direction: row;
    }
  }
}




