
.mainText {
    width: 290px;
    height: 106px;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 33px;
    color: #000000;

}

.secondaryText {
    width: 80%;
    height: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #808080;
}


@media (min-width: 767px) {
    .secondaryText {
        font-size: 18px;
    }
}

@media (min-width: 1144px) {
    .secondaryText {
        text-align: left;
        white-space: nowrap;
    }
    .mainText{
        font-size: 36px;
    }
}
