
.mainText {
    width: 290px;
    height: 106px;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 33px;
    color: #000000;
    margin: 25px auto 0 auto;
}

.secondaryText {
    margin: 0 auto;
    width: 80%;
    height: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #808080;
}


@media (min-width: 575px) {

    .mainText {
        text-align: center;
        margin: 39px 0 -15px 108px
    }

    .secondaryText {
        margin: 0 0 0 95px;
    }
}

@media (min-width: 600px) {
    .secondaryText {
        font-size: 18px;
        margin: 0 0 0 85px;
    }

}

@media (min-width: 767px) {
    .mainText {
        text-align: center;
        margin: 39px 0 -15px 215px
    }

    .secondaryText {
        font-size: 18px;
        margin: 0 0 0 180px;
    }
}

@media (min-width: 1000px) {
    .mainText {
        margin: 39px 0 -15px 315px;
    }

    .secondaryText {
        margin: 0 0 0 270px;
    }
}
