
.bigBlackText {
    width: 382px;
    height: 106px;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: #000000;
    margin: 60px 0px 0px 90px;

}

.smallGreyText {
    width: 360px;
    height: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #808080;
    margin: 25px 0px 0px 90px;
}