
.mainText {
    width: 100%;
    height: 106px;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 33px;
    color: #000000;
    margin: 25px auto 0 auto;


}

.secondaryText {
    width: 100%;
    height: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #808080;


}