.bigRoomBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: #c4c4c4;
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.roomNames {
  white-space: nowrap;
  height: 31px;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: #ffffff;
  position: absolute;
  top: 215px;
  left: 10px;
}

@media (min-width: 575px) {
  .bigRoomBlock {
    height: 400px;
    width: 400px;
  }

  .roomNames {
    top: 315px;
  }
}

@media (min-width: 767px) {
  .bigRoomBlock {
    height: 550px;
    width: 550px;
  }

  .roomNames {
    top: 460px;
    left: 20px;
  }
}

@media (min-width: 1144px) {
  .bigRoomBlock {
    width: 970px;
  }
}

@media (min-width: 1250px) {
  .bigRoomBlock {
    width: 500px;
    height: 630px;
    margin-right: 30px;
  }
  .roomNames {
    top: 530px;
    left: 15px;
  }
}

@media (min-width: 1350px) {
  .bigRoomBlock {
    width: 590px;
  }
}

@media (min-width: 1450px) {
  .bigRoomBlock {
    width: 630px;
  }
}
