.tabletTitle {
  background: #ffffff;
  box-shadow: 0 16px 46px rgba(0, 0, 0, 0.06);
  border-radius: 0 20px;
  width: 929px;
  height: 134px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
  @media (min-width: 1023px) {
    margin: 0 auto;
  }
  @media (min-width: 1144px) {
    margin: -140px 484px 0 0;
    width: 565px;
  }
  @media (min-width: 1250px) {
    margin: -140px 470px 0 0;
    width: 620px;
  }
}
