@import '../../styles/variables';

.tooltipData {
  position: absolute;
  background-color: $secondary-background-color;
  left: 102%;
  width: 250px;
  padding: 10px;
  word-break: break-word;
  border: 1px solid #CACACA;
  border-radius: 12px;
}
.tooltipData > * {
  margin-bottom: 20px;
  text-align: center;
  @include font-setup(16px, 500)
}
.tooltipTitle {
  font-weight: 700;
}
.tooltipTextMark {
  color: $main-contrast-color;
  font-weight: 700;
}