@import '../../../styles/variables';

.navLinkTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  transition: all 700ms ease;

  :first-child {
    margin-top: 86px;
  }

  :last-child {
    border-top: none;
    outline: 1px solid #dcdbdb;
    padding-bottom: 39px;
  }

  .oneLink {
    width: 100%;
    padding: 30px 0;
    height: 18px;
    white-space: nowrap;
    text-decoration: none;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: $secondary-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dcdbdb;
  }

  .oneLinkActive {
    width: 100%;
    padding: 30px 0;
    height: 18px;
    white-space: nowrap;
    text-decoration: none;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: $main-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dcdbdb;
  }
}
