.tabletComponent {
    width: 222px;
    position: relative;
    z-index: 5;
    top: -10px;
    left: 30px;
    margin-bottom: 20px;
}

.tabletComponentTitle {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabletComponentText {
    width: 67px;
    height: 22px;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #808080;
    white-space: nowrap;
    margin-left: 11px;
}


::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    background-size: cover;
    background: url('../../../../../../assets/img/home/arrow.svg') no-repeat center;
}

.tabletComponentBody input::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.tabletComponentBody input {
    outline: none;
    border: none;
    width: 160px;
    color: #063C43;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

}

.tabletComponentBody select {
    outline: none;
    border: none;
    width: 160px;
    color: #063C43;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    -webkit-appearance: none;
    background-size: cover;
    background: url('../../../../../../assets/img/home/arrow.svg') no-repeat center;
    background-position-x: 105px;
}

.tabletComponentBodyBtn {
    width: 80%;
    height: 55px;
    background: #063C43;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tabletComponentBodyBtn p {
    width: 96px;
    height: 48px;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
