@import '../../../../styles/variables';

.mainText {
  width: 290px;
  height: 106px;
  font-family: $main-fonts;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 33px;
  color: $main-text-color;
  @media (min-width: 1144px) {
    font-size: 36px;
  }
}

.secondaryText {
  width: 80%;
  height: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $secondary-text-color;
  @media (min-width: 767px) {
    font-size: 18px;
  }
  @media (min-width: 1144px) {
    text-align: left;
    white-space: nowrap;
  }
}
