.roomInfo {
    width: 270px;
    height: 36px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 6px;
    display: flex;
    position: absolute;
    top: 255px;
    left: 5px;
    padding: 0 10px;
}

.roomInfoElement {
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.4px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.roomInfoElement img {
    margin-right: 8px;
}