.miniRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  .oneRoomTop {
    display: flex;
    flex-direction: column;
    &:first-child div {
      margin-right: 70px;
    }
    @media (min-width: 1144px) {
      flex-direction: row;
    }
  }
  .oneRoomBottom {
    display: flex;
    flex-direction: column;
    @media (min-width: 1144px) {
      flex-direction: row;
    }
  }
}

//
//HERE

@media (min-width: 1144px) {

  .oneRoomBottom :first-child div {
    margin-right: 70px;
  }
}

@media (min-width: 1250px) {
  .oneRoomTop :first-child div {
    margin-right: 20px;
  }

  .oneRoomBottom :first-child div {
    margin-right: 20px;
  }
}
