.miniRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.oneRoomTop {
    display: flex;
    flex-direction: column;
}

.oneRoomTop :first-child div {
    /*margin-bottom: 30px;*/
}

.oneRoomBottom {
    display: flex;
    flex-direction: column;
}

.oneRoomBottom :first-child div {
    /*margin-bottom: 30px;*/
}