.logoTitle img {
    height: 80px;
    width: 80px;
}

.btnGroup a {
    text-decoration: none;
}

.btnGroup img {
    height: 40px;
    width: 40px;

}

.btnOnly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;


}

.btnOnly span {
    visibility: hidden;
    transition: all 0.3s ease;
}

.btnOnly:hover span {
    visibility: initial;
    transition: all 0.3s ease-in;
}
