@import '../../styles/variables';

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modalActive {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: all;
}


.content {
  padding: 20px;
  border-radius: 12px;
  background-color: $modal-background-color;
  width: 50vw;
  min-height: 200px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.contentActive {
  padding: 20px;
  border-radius: 12px;
  background-color: $modal-background-color;
  width: 50vw;
  min-height: 200px;
  transition: 0.4s all;
  transform: scale(1);
}
