.fifthPage {
  background: white;
}

.titleText {
  margin: 60px 0 -30px 0;
  white-space: nowrap;
}

@media (min-width: 575px) {
  .titleText {
    margin: 60px 0 -30px 125px;
  }
}

@media (min-width: 1144px) {
  .fifthPage {
    background: #f9f9f9;
  }
  .titleText {
    margin: 100px 0 -30px 125px;
    padding-top: 10px;
  }
}
