
.navLinkTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.oneLinkActive{
    white-space: nowrap;
    color: #000000;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    width:41px;
    height: 19px;
    margin-right: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.oneLink {
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #808080;
    width:41px;
    height: 19px;
    margin-right: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}