@import '../../styles/variables';

.navLinkTitle {
  display: flex;
  align-items: center;
  justify-content: center;

  :last-child {
    margin-right: 3px;
  }

  @media (min-width: 1144px) {
    margin: 0 8vw;
  }

  .oneLinkActive {
    white-space: nowrap;
    color: $main-text-color;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    width: 41px;
    height: 19px;
    margin-right: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .oneLink {
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: $secondary-text-color;
    width: 41px;
    height: 19px;
    margin-right: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
