.afterPanelBlock{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 36px 0 ;
    font-family: "Barlow Condensed",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.addressText{
   margin-left: 148px;
}

.imgBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:64px;
}

.textBlock{
    margin-left: 8px;
}