.bookingPage {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9;
    margin:0 auto;
}


.bookingForm{
    margin:0 auto;
}




