.bookingPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f9f9;
  margin: 0 auto;
}

.bookingForm {
  margin: 0 10%;
}

.bookingProcess {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bookingCalendar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 668px;
  height: 660px;
}

.uploadOrderedRoomsBlock {
  display: flex;
  align-items: center;
  position: relative;
}
