@use '../../styles/breakpoints' as bp;
@import '../../styles/variables';

.bookingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $main-background-color;

  .bookingProcess {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (min-width: bp.$lg) {
      flex-direction: row;
      align-items: flex-start;
    }

    .bookingForm {
      margin: 0 10%;
    }

    .bookingCalendar {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .uploadOrderedRoomsBlock {
    display: flex;
    align-items: center;
    position: relative;
  }
}
