@import '../../styles/variables';

.bookingPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $MainBackgroundColor;
  margin: 0 auto;

  .bookingProcess {
    width: 100%;
    display: flex;
    justify-content: center;

    .bookingForm {
      margin: 0 10%;
    }

    .bookingCalendar {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 660px;
      height: 660px;
    }
  }

  .uploadOrderedRoomsBlock {
    display: flex;
    align-items: center;
    position: relative;
  }
}
