.loginBtn {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background: #f4f4f4;
  border-radius: 8px;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.buyBtn {
  background: rgba(239, 239, 239, 0.15);
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 8px;
  margin-right: 24px;
}

.uploadPetPhotoActive {
  background: rgba(239, 239, 239);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #0f97aa;
  padding: 10px 50px;
  border-radius: 8px;
  border: 1px solid #0f97aa;
  cursor: pointer;
  font-size: 23px;
  font-weight: 300;
  margin: 30px;
  &:hover {
    background: aquamarine;
  }
}

.uploadPetPhoto {
  background: rgba(239, 239, 239);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #999999;
  font-size: 23px;
  font-weight: 300;
  padding: 10px 50px;
  border-radius: 8px;
  border: 1px solid #0f97aa;
  cursor: no-drop;
  margin: 40px;
}

.orderBtn {
  padding: 5px 30px;
  border-radius: 8px;
  background: aquamarine;
  cursor: pointer;
  margin-top: -20px;
}
