@import '../../styles/variables';

.uploadPetPhotoActive {
  background: $secondary-background-color;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #0f97aa;
  padding: 10px 50px;
  border-radius: 8px;
  border: 1px solid $main-contrast-color;
  cursor: pointer;
  font-size: 23px;
  font-weight: 300;
  margin: 30px;
  &:hover {
    background: aquamarine;
  }
}

.uploadPetPhoto {
  background: rgba(239, 239, 239);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $secondary-text-color;
  font-size: 23px;
  font-weight: 300;
  padding: 10px 50px;
  border-radius: 8px;
  border: 1px solid $main-contrast-color;
  cursor: no-drop;
  margin: 272px 40px 40px 40px;
  @media (min-width: 1144px) {
    margin: 40px
  }

}

.orderBtn {
  padding: 5px 30px;
  border-radius: 8px;
  background: aquamarine;
  cursor: pointer;
  margin-top: -20px;
}
