@use './src/main/ui/styles/breakpoints' as bp;

.thirdPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .photoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: bp.$xl) {
      flex-direction: row;
    }
  }
}
