.textNameWithoutCards{
  font-size: xx-large;
  color: #eeeaea;
}
.roomPage{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
}

.pages {
  margin: 20px 0;
  .page, .currentPage{
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
  }
  .currentPage {
    border: 2px solid gray;
    font-weight: 700;
  }
}
