@import '../../../styles/variables';

.secondPage {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1144px) {
    background-color: $main-background-color;
  }

  .statisticBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  .ceoMessTitle {
    width: 90%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1144px) {
      flex-direction: row;
      background: $main-background-color;
      margin: 70px auto;
      width: 90%;
    }

    .ceoMessTextBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px 0 95px 0;
    }
  }
}
