.feedBack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0 20px 44px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 15px;
}

.feedBackText {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    width: 100%;
}

.feedBackUser {
    display: flex;
    align-items: center;
    position: relative;
}

.infoUserBlock {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.userFeedbackName {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.userFeedBackNationality {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #808080;
}

.userPhoto img {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    margin-left: -10px;
}

.staplesBlock {
    position: absolute;
    left: 195px;
    top: -20px

}

@media (min-width: 455px) {
    .staplesBlock {
        left: 285px
    }

    .userPhoto img {
        margin-left: 10px;
    }

}

@media (min-width: 575px) {
    .staplesBlock {
        left: 345px
    }

    .feedBack {
        height: 165px;
    }

    .userPhoto img {
        width: 62px;
        height: 62px;
    }

    .userFeedBackNationality {
        font-size: 19px;
    }

    .userFeedbackName {
        font-size: 22px;
    }

}

@media (min-width: 767px) {
    .staplesBlock {
        left: 612px
    }

    .feedBack {
        height: 210px;
        width: 88%;
    }

    .userPhoto img {
        width: 62px;
        height: 62px;
    }

    .userFeedBackNationality {
        font-size: 19px;
    }

    .userFeedbackName {
        font-size: 22px;
    }

}
@media (min-width: 810px) {
    .staplesBlock {
        left: 645px
    }

}

@media (min-width: 865px) {
    .staplesBlock {
        left: 690px
    }

}

@media (min-width: 905px) {
    .staplesBlock {
        left: 720px
    }

}

@media (min-width: 956px) {
    .staplesBlock {
        left: 780px
    }

}
@media (min-width: 1144px) {
    .staplesBlock {
        left: 910px
    }

}