.feedBack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 220px;
  background: #ffffff;
  box-shadow: 0 20px 44px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 15px;
  @media (min-width: 575px) {
    height: 165px;
  }
  @media (min-width: 767px) {
    height: 210px;
    width: 88%;
  }

  .feedBackText {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    width: 100%;
  }

  .feedBackUser {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    .userPhotoNameNationalityBlock {
      display: flex;
      align-items: center;

      .userPhoto img {
        width: 52px;
        height: 52px;
        border-radius: 100%;
        margin-left: -10px;
        @media (min-width: 455px) {
          margin-left: 10px;
        }
        @media (min-width: 575px) {
          width: 62px;
          height: 62px;
        }
        @media (min-width: 767px) {
          width: 62px;
          height: 62px;
        }
      }

      .infoUserBlock {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .userFeedbackName {
          font-family: 'Barlow Condensed', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 20px;
          color: #000000;
          @media (min-width: 575px) {
            font-size: 22px;
          }

          @media (min-width: 767px) {
            font-size: 22px;
          }
        }

        .userFeedBackNationality {
          font-family: 'Barlow Condensed', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          color: #808080;
          @media (min-width: 575px) {
            font-size: 19px;
          }
          @media (min-width: 767px) {
            font-size: 19px;
          }
        }
      }
    }

    .staplesBlock {
      position: relative;
      top: -30px;
    }
  }
}
