$main-background-color: #f9f9f9
$secondary-background-color: #f4f4f4
$secondary-contrast-color: #063c43
$main-contrast-color: #0f97aa
$main-text-color: #000000
$secondary-text-color: #808080
$main-fonts:'Barlow Condensed', sans-serif